/* Common */

* {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* NavBar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 90%;
  margin: auto;
}

nav > h1 {
  font-size: 30px;
}

#nav-menu {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 100px;
}

#nav-menu > a {
  text-decoration: none;
  border: 2px solid grey;
  padding: 5px 15px;
  color: black;
  border-radius: 4px;

  transition: color 0.5s, background-color 0.5s;
}

#nav-menu > a:hover {
  color: white;
  background-color: black;
  animation: buttonScale 0.3s ease-in-out; /* Add a hover animation */
}

.resume {
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  display: inline-block;
  background-color: black;
  color: white;
  box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.4);
  animation: shake 0.7s ease infinite; /* Apply the "shake" animation */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  } /* Initial position */
  25% {
    transform: translateX(-5px);
  } /* Move left */
  50% {
    transform: translateX(5px);
  } /* Move right */
  75% {
    transform: translateX(-5px);
  } /* Move left again */
  100% {
    transform: translateX(0);
  } /* Back to the initial position */
}

/* Home Element */
#port-img {
  width: 100%;
  height: 83vh;
  background-image: url("/images/portfolio-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#type-info {
  padding-top: 2%;
  padding-left: 4%;
  color: rgba(0, 0, 0, 0.584);
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}
#Contact {
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0.848);
  color: white;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-left: 4%;
  border-radius: 8px;
}

#Contact:hover {
  cursor: pointer;
  box-shadow: 0 -2em 2em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#contact-links {
  margin-left: 3.8%;
  margin-top: 2%;
  display: flex;
  gap: 2%;
}

/* About Section */

#about {
  width: 90%;
  margin: auto;
}

#intro {
  display: flex;
  margin-top: 10%;
}

#myImage {
  display: flex;
  align-items: center;
}
#data {
  width: 80%;
}

#intro > div > img {
  width: 100%;
  clip-path: circle();
}

#intro > div > div > h3 {
  font-family: "Exo 2", sans-serif;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(84, 82, 82);
}
#intro > div > h1 {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  margin-top: 75px;
  margin-left: 5%;
  margin-bottom: 0;
}
#data > div > h3 {
  width: 90%;
  line-height: 1.8;
}
#data > div > h3 span {
  color: rgba(255, 0, 0, 0.605);
}

#data > div {
  display: flex;
  justify-content: center;
}
